<?xml version="1.0" encoding="utf-8" ?>
<configuration>

   <!--
     Note: WorldWind Tile Server
   -->
   
	<appSettings>
			
        <!-- WorldWind Image Services -->
        <add key="SRTM" value="C:\World Wind Cache\Cache\Earth\SRTM\"/>
        <add key="LANDSAT" value="C:\World Wind Cache\Cache\Earth\Images\NASA Landsat Imagery\NLT Landsat7 (Visible Color)\"/>

        <!-- WorldWind Image file extensions -->
        <add key="SRTM_EXT" value=".bil"/>
        <add key="LANDSAT_EXT" value=".jpg"/>

        <!-- WorldWind Image content (MIME) types -->
        <add key="SRTM_MIME" value="application/octet-stream"/>
        <add key="LANDSAT_MIME" value="image/jpeg"/>

	</appSettings>
     
  <system.web>

    <compilation 
         defaultLanguage="c#"
         debug="true"
    />

    <customErrors 
    mode="Off" 
    /> 

    <authentication mode="Windows" /> 

    <authorization>
        <allow users="*" /> <!-- Allow all users -->
            <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>

    <trace
        enabled="false"
        requestLimit="10"
        pageOutput="false"
        traceMode="SortByTime"
		localOnly="true"
    />

    <sessionState 
            mode="InProc"
            stateConnectionString="tcpip=127.0.0.1:42424"
            sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
            cookieless="false" 
            timeout="20" 
    />

    <globalization 
            requestEncoding="utf-8" 
            responseEncoding="utf-8" 
   />
   
 </system.web>

</configuration>

